.loadButton {
    border: none;
    width: 200px;
    height: 40px;
    background-color: #C77334;
    color: #FFFFFF;
    letter-spacing: 5px;
    font-size: 14px;
    display: block;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 50px;
}

.context1 {
    width: calc(100% - 80px);
    margin-left: 80px;
}