.e_slogan {
  position: absolute;
  font-family: Noto Serif TC;
  font-size: 32px;

  /* text-align: center; */
  top: 275px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  color: #eef3f5;
}

.p_video {
  position: absolute;
  font-family: Noto Serif TC;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
}

.explore {
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  // height: 40px;
  background-color: #c77334;
  font-family: Noto Sans TC;
  font-size: 16px;
  color: #eef3f5;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  border: none;
  cursor: pointer
}



// 頁籤
.e_lablebox {
  width: 600px;
  height: 40px;
  margin: auto;
  margin-top: -50px;
  display: flex;
  margin-bottom: -30px;
  // border: 1px solid #BDC5C7;
  cursor: pointer
}

.e_activelable {
  width: 600px;
  height: 40px;
  text-align: center;
  background-color: #bdc5c7;
  color: #707070;
  line-height: 40px;
  letter-spacing: 3px;
  font-size: 16px;
}

.e_activelable:hover {
  text-decoration: none;
  color: black;
}

.e_defaultlable:hover {
  text-decoration: none;
  color: black;
}

.e_defaultlable {
  width: 600px;
  height: 40px;
  border: 5px #bdc5c7;
  text-align: center;
  line-height: 40px;
  background-color: #edece8;
  // margin-bottom: 50px;
  letter-spacing: 3px;
  font-size: 16px;
  color: #707070;
  border: 1px solid #bdc5c7;
}

// 椅子圖示頁籤

.e_icon {
  margin: auto;
  justify-content: center;
  // z-index: 5;
  padding-top: 15px;
  cursor: pointer
}

.e_icon1 {
  border: 1px solid #bdc5c7;
  padding-top: 15px;
  margin: auto;
  justify-content: center;
  // z-index: 5;
  cursor: pointer
}

.icon_img {
  margin: auto;
  justify-content: center;
  text-align: center;
  transition: 0.5;
  // z-index: 5;
}

.icon_img:hover {
  transform: translateY(-8px);
  // z-index: 5;
}

.chair_icon {
  width: 10%;
  height: 35%;
  // margin-top: 50px;
  // z-index: 5;
  cursor: pointer
}

.chair_icon_sofa {
  width: 13%;
  height: 25%;
  // margin-top: 70px;
  // text-align: center;
  // z-index: 5;
}

.chair_p {
  text-align: center;
  font-family: Noto Sans TC;
  color: #222222;
  font-size: 14px;
  padding-top: 7px;
  // z-index: 5;
}

.chair_p2 {
  text-align: center;
  font-family: Noto Sans TC;
  color: #4b5454;
  font-size: 20px;
  padding-top: 7px;
}

// 輪播卡牌
.ant-carousel .slick-dots-bottom {
  bottom: 20px;
}

.ant-carousel .slick-dots li button {
  width: 90%;
  height: 15px;
  border-radius: 50%;
  background-color: #C77334;
  margin-bottom: 0rem;
}

.ant-carousel {
  margin-top: 0;
  padding-top: 0;
  transform: translateY(-130px);
  z-index: -5;
}



// 卡牌
.e_card {

  height: 560px;
  position: relative;
  margin-top: 3rem;

}

.e_card_bg {
  background: rgb(249, 246, 246);
  padding: 5px;
  border-radius: 4px;

}

.e_wrap {
  width: 100%;
  margin: 5px auto;
  height: 230px;
}

.e_wrap img {
  background-size: cover;
  max-width: 100%;
}

.e_card_title {
  font-size: 24px;
  font-family: Noto Sans TC;
  color: #464747;
  line-height: 0;
  margin: 15px 10px;
}

.e_maker {
  font-family: Noto Sans TC;
  font-size: 14px;
  color: #1e1f1f;
  text-align: right;
  margin-right: 7%;

}

.intro_wrap {
  height: 60px;
  overflow: hidden;
}

.e_intro {
  font-family: Noto Sans TC;
  font-size: 14px;
  color: #707070;
  padding: 0 10px;

}

.e_date {
  font-family: Noto Sans TC;
  font-size: 24px;
  color: #c77334;
  font-weight: 500;
  text-align: right;
  margin-right: 5%;
  // padding-top: 5px;
}

.e_price {
  font-family: Noto Sans TC;
  font-size: 18px;
  color: #403e3e;
  padding: 0 10px;
  margin-top: 1rem;
  margin-bottom: -10px;

}

.btn_div {
  text-align: right;
  margin-top: 0;


}

.fund {
  width: 95px;
  height: 40px;
  border: none;
  font-family: Noto Sans TC;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #707070;
  transition: .2s;
  margin-top: -100px;




}


.e_card .e_card_bg button {
  background-color: #D9C7AA;

}

.e_card .e_card_bg button:hover {
  background-color: #d68b51;
  color: white;
}


.e_more {
  max-width: 200px;
  // height:40px;
  // width: 200px;
  border: solid 1px #585858;
  font-family: Noto Sans TC;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  // vertical-align: middle;
  line-height: 40px;
  color: #575555;
  background-color: #edece8;
  // z-index: 100;
  justify-content: end;
  cursor: pointer
}

.e_more_div {
  padding-left:900px ;
  text-align: right;
  // height:80px;
  margin-top: -155px;
  justify-content: end;
  margin-right: 200px;
  // z-index: 100;
  cursor: pointer
}

.e_more:hover {
  // height:40px;
  max-width: 200px;

  line-height: 40px;
  background-color: #D9C7AA;
  border: none;
  // z-index: 10;
  cursor: pointer
}


// 熱門募資專案

.e_popular {
  font-family: Noto Serif TC;
  font-size: 32px;
  text-align: center;
  color: #474745;
  padding-top: 8rem;
}


// 熱門募資專案
.e_lablebox2 {
  width: 600px;
  height: 40px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  cursor: pointer
}


// 設計學院
.green {
  // width:  80%;
  height: 20rem;
  background-color: #b7bdb3;
  opacity: 0.76;
  text-align: center;
}

.p_stu {
  font-family: Noto Serif TC;
  font-size: 16px;
  font-weight: 500;
  color: #fcfcfc;
  padding-top: 20%;

}

.wrap1 img {
  width: 100%;
  height: 20rem;
}




.orange {

  width: 100%;
  height: 20rem;
  background-color: #d9c7aa;
  opacity: 0.76;
  text-align: center;
}

.blue {

  width: 100%;
  height: 20rem;
  background-color: #9caab2;
  opacity: 0.76;
  text-align: center;
}