.e_par {
  // background-image: url('../images/bg1.png');
  // min-height: 500px;

  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow: auto;
  margin-bottom: 20px;
  font-family: Noto Sans TC;
}

.e_text {
  margin-top: 20px;
  font-weight: 600;
}

.e_text1 {
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;

}

.tb {
  overflow-y: scroll;
  overflow-x: hidden;
  overflow: auto;
  height: 350px;
}

.e_check {
  text-align: center;
  font-family: Noto Sans TC;
}




.ant-radio-checked {
  // border-color: #c77334 !important ;
  color: #c77334;
  // background: #c77334;

}


.e_my {
  // text-align: center;
  margin-top: 50px;
  font-family: Noto Sans TC;
}

.ant-input-number-handler-down {
  display: none;
}

.ant-input-number-input-wrap {
  width: 100px;
  padding-right: 20px;
}

.ant-input-number {
  width: 100px;
  padding-right: 20px;
}

.e_input {
  margin-top: 10px;
  font-family: Noto Sans TC;
}

.ant-input-number-input {
  // width: 200px !important;
}

.ant-input-number {
  width: 152px !important;
  box-shadow: 0 0 0px 0px #C77334 !important;
}



.ant-input-number-handler-wrap {
  // background-color: #C77334;
  // color: #fff;
  // margin-left: 10px !important;
  box-shadow: 0 0 0px 0px #C77334 !important;
}

.ant-input-number-handler-up {
  background-color: #C77334;
  // color: #fff;
  box-shadow: 0 0 0px 0px #C77334 !important;
}

.ant-input-number-input {
  width: 150px !important;


}

