.loadButton {
    border: none;
    width: 200px;
    height: 40px;
    background-color: #C77334;
    color: #FFFFFF;
    letter-spacing: 5px;
    font-size: 14px;
    display: block;
    margin: auto;
    margin-top: 70px;
    // margin-bottom: 20px;
}

.context1 {
    width: calc(100% - 80px);
    margin-left: 80px;
}

.e_lableboxx {
    padding-top: 100px;
}

.dpd{
    justify-content: right;
    text-align: right;
    margin-top: -50px;
}

.ant-dropdown-link{
    font-size: 18px;
}

.e_fv {
    width: 100%;
    position: relative;
  }


.e_fv img {
    width: 100%;
  }


.e_fv_text {
    color: #436464;
    font-family: Noto Serif TC;
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0%;
  }

  .i_slogan_form {
    font-size: 44px;
    color: #436464;
  }

  .i_subslogan_form {
    font-size: 18px;
    line-height: 40px;
    border: 1px solid rgb(201, 94, 12) ;
    color: rgb(201, 94, 12);
    width: 200px;
    margin: auto;
    font-family: Noto Sans TC ;
    margin-top: 40px;
  }

  .i_subslogan_form:hover{
      background-color: rgb(201, 94, 12);
      color: white;
  }