.by {
    font-family: lora;
    font-size: 14px;
    color: #615958;
    margin-left: 20px;
    letter-spacing: 1;
}

.e_price {
    margin-bottom: 80px;
}

.e_target {
    text-align: right;
    margin-bottom: 30px;
}

.e_tar {
    text-align: right;
    font-size: 22px;
    color: #C77334;

}

.barwrapper {
    margin-bottom: 30px;
}

.e_ptar {
    font-size: 18px;
    font-weight: 500;
    color: #726f6f;

}

.e_leff {
    color: #C77334;
}
.e_lefff{
    margin: auto;
}

.e_man {
    margin-bottom: 25px;
}

.share {
    font-family: Noto Sans TC;
    font-size: 20px;
}

.share_area {
    margin-top: 30px;
}

.box {
    width: 3px;
    height: 20px;
    background-color: #436464;
    margin-left: 10px;
    margin-top: 5px;
    padding-top: 5px;


}

.share-icon {

    transform: scale(1.5);
    color: #4D4848;
    margin-left: 25px;
    margin-top: 5px;

}


.fa {
    margin-left: 15px;
}


.line {
    width: 400px;
    height: .5px;
    background-color: #7e7b7ba8;
}

.p_title {
    text-align: center;
    align-items: center;
    line-height: 50px;
    font-family: Lora;
    font-size: 32px;
    font-weight: 500;
}

.intro_p {
    text-align: center;
    font-family: Noto Sans TC;
    font-size: 14px;
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.inner-pic {
    max-width: 100%;
}

.inner-pic2 {
    width: 60%;
    margin-top: 5rem;

}

.pic2-h4 {
    font-family: Lora;
    font-size: 28px;
    text-align: right;
    color: #302c2c;
    margin-left: -50px;
    padding-top: 80px;

}

.pic3 {
    text-align: right;
    justify-content: right;
}

.inner-pic2-p {
    font-family: Noto Sans TC;
    font-size: 14px;
    color: #111111;
    width: 40%;
    text-align: right;
    margin-left: 330px;
    padding-bottom: 100px;
    margin-top: -140px;
}

.inner-pic3 {
    width: 60%;
    margin-top: 5rem;

    text-align: right;

}

.pic3-h4 {
    font-family: Lora;
    font-size: 28px;
    margin-top: -200px;
    // top: 110%;
}

.pic3-p {
    font-family: NotoSansTC;
    font-size: 14px;
    color: #111111;

    margin-top: 50px;
    width: 40%;
}

.dim{
    text-align: center;
    margin-top: 150px;
}

.dim-p{
   margin-left: 200px;
   margin-top: 50px;

}

.e_cart-btn {
    width: 325px;
    height: 50px;
    border: none;
    background-color: #c77334;
    margin-top: 60px;
   
    // margin: auto;
    color: white;
  }

  .e_formset{
      display: none;

  }

  .e-related-product {
    font-family: serif;
    font-size: 32px;
    font-weight: 400;
    color: #707070;
    // margin-bottom: 30px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
 
}

.small_card{
    width: 80%;
    background-color: #fcf8f8;
    margin: auto;
    padding: 15px;
    margin-bottom: 30px;
    margin-left: 80px;
}

.e_account{
    font-family: Noto Sans TC;
    font-size: 14px;
    font-weight: 500;
    color: #707070;
    text-align: left;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.e_name{
    margin-left: 10px;
    margin-bottom: 40px;
}
.em{
    font-family: Noto Sans TC;
    font-size: 18px;
    font-weight: 500;
    color: #436464;
    text-align: center;
    margin-bottom: 20px;
    text-decoration:  2px solid #436464 ;
}

.emp{
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 500;
    color: #525757;
    text-align: center;
    margin-bottom: 30px;
}

.emday{
    font-family: Noto Sans TC;
    font-size: 14px;
    font-weight: 300;
    color: #787c7c;
    text-align: right;
}

.emdayp{
    margin-left: 5px;
}