
#canvasContainer {
  position: relative;
  width: 350px;
}

#canvas {
  z-index: 1;
}

#prizePointer {
  position: absolute;
  left: 148px;
  top: -50px;
  z-index: 999;
  width: 14%;
}


.wheel_container {
  // display: inline-block;
  min-height: 500px;

  display: grid;
  place-items: center;

  position: relative;
  
  .start_button {
    position: absolute;
    bottom: 0;
  }
}

.btn-primary {
  color: #fff;
  background-color: #C77334;
  border-color: #C77334;
}