.navbarPreview_container {
  --navbar-height: -1000px;

  z-index: 1;

  padding-top: 20px;
  padding-left: 160px;
  padding-right: 80px;

  justify-content: space-around;
  display: flex;
  height: 0;

  position: absolute;

  top: var(--navbar-height);
  left: 0;
  right: 0;
  background-color: #dbd9d5;
  opacity: 0;

  transition: opacity 0.7s, height ease-out 0.4s;

  &.isActive {
    height: 394px;
    opacity: 0.9;
  }
}
