.navbar_container {
  z-index: 1;
  font-family: 'Josefin Sans';
  // 透明
  background-color: rgba(255, 255, 255, 0);

  top: 0;
  transition: all ease-out 0.5s;
  // navbar 有選項時的顏色
  &.show_bg {
    background-color: #dbd9d5;
    opacity: 0.9;
  }

  // navbar 隱藏時消除 navbar.active 預設字變深色的狀態
  &:not(.show_bg) /deep/ .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.5) !important;
  }

  .navbar_list {
    color: #1a1818;

    width: 100%;
    max-width: 960px;
    margin: 0 auto;

    padding-left: 40px;
    padding-right: 40px;
  }

  .navbar-nav .nav-link {
    // color: #1a1818;
    color: #ffffff;
    font-size: 12px;
  }

  /**
  > NOTE: 第三方組件若吃不到樣式，使用 /deep/
  > ref: https://zhuanlan.zhihu.com/p/47870721
  */
  /deep/ {
    &.show_bg .navbar-nav .nav-link {
      color: #1a1818;
      font-size: 12px;
    }

    .navbar_item_is_active {
      border-bottom: 2px solid gray;
    }
    .logo_brand {
      margin-left: 80px;
      min-width: 50px;
    }
  }
  .icon {
    width: 21px;
    height: 21px;
  }

  .icon_con {
    margin-right: 70px;
  }
}

// 1024px 以下
@media screen and (max-width: 1024px) {
  .logo_brand {
    margin-left: 0;
    width: 50px;
  }
}
// logo_brand navbar-brand active
// 992px 以下
@media screen and (max-width: 992px) {
  .navbar_container /deep/ {
    // // 取消透明
    // background-color: #dbd9d5;
    // opacity: 0.9;

    .logo_brand {
      margin-left: 0px;
      max-width: 30px;
    }
  }

  // 調整購物車會員中心位置
  .icon_con {
    flex-direction: row;

    > * + * {
      margin-left: 15px;
    }
  }
}

// 576 以下
@media screen and (max-width: 576px) {
  .navbar_container {
    // 取消透明
    // background-color: #dbd9d5;
    // opacity: 0.9;

    width: 100%;

    position: fixed;
    left: 0;
    right: 0;
  }
}

.member_menu_container {
  /deep/ {
    .damn {
      // outline: 1px dashed orange;
      font-size: 14px;
    }
  }
}
