// 頁籤
.g_lablebox {
    // width: 200px;
    height: 40px;
    // margin: auto;
    // margin-top: 100px;
    // display: flex;
    // border: 1px solid #BDC5C7;
  }
  
  .g_activelable {
    // width: 600px;
    // height: 40px;
    text-align: center;
    // background-color: #bdc5c7;
    color: #707070;
    line-height: 40px;
    letter-spacing: 3px;
    font-size: 16px;
  }
  
  .g_activelable2 {
    background-color: #bdc5c7;
    text-decoration: none;
    color: #707070;
  }
  
  .g_defaultlable:hover {
    text-decoration: none;
    color: black;
  }
  
  .g_defaultlable {
    // width: 600px;
    height: 40px;
    // border: 5px #bdc5c7;
    text-align: center;
    line-height: 40px;
    // background-color: #edece8;
    // margin-bottom: 50px;
    letter-spacing: 3px;
    font-size: 16px;
    color: #707070;
    // border: 1px solid #bdc5c7;
  }