@import '~bootstrap/scss/bootstrap.scss';

body{
    background-color: #EDECE8;
}
.designer-des {
    width: 712px;
    height: 480px;
    background-color: #D6D7D1;            
}
.designer-img{
    width: 488px;
    height: 600px;
    background: url() center no-repeat;
    background-size: contain;
}
.design{
    font-family: Assistant;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 5px;
}
.name{
    font-family: Lora;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 5px;
    color:#c77334;
}
.brief{
    font-family: Assistant;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #2b2929;

}
.text-center span a{
    font-family: Assistant;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    ;
}
.designer-des a{
    color: #707070;
}