.g-bg{
    background-color: #bdc5c7;
    height: 516px;
    width: 740px;
}
.g-list{
    height: 40px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
}
    

.g-b-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
    overflow: hidden;
}
.g-b-pic img{
    background-size: cover;
    width: 100%;
    height: 100%;
}
.g-line{
    height: 1px;
    // width: 90%;
    background-color: #707070;
    // margin: 10px;
}
.g-b-name{
    margin-left: 20px;
}
.g-b-time{
    margin-right: 20px;
    font-size: 12px;
}
.g-setpricep{
    font-size: 14px;
    color: #000000D9;
    font-family: Assistant;
    font-weight: 600;

}
.g-set-prodname{
    font-family: Assistant;
    color: #000000D9;
    font-size: 18px;
    font-weight: 600;

}
.g-set-prodname2{
    font-family: Assistant;
    color: #707070;
    font-size: 14px;
    font-weight: 600;
}
.g-setorange{
    color: #c77334;
    font-weight: 600;

}
.g-color{
    background-color: #DED5C6;
    transition: .5s ease-in-out;
    // transform: translateY(20px);
}
