* {
    margin: 0;
    padding: 0;
}
.grace-related-product {
    font-family: serif;
    font-size: 32px;
    font-weight: 400;
    color: #707070;
    margin-bottom: 40px;
}

.grace-pic {
    width: 80%;
    background-size: cover;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

.grace-slider-text span {
    // padding: 5px;
    font-family: assistant;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.grace-slider-text.grace-slider-pname{
    font-weight: 800;
    font-size: 20px;
    margin-top: 10px;
}

.aaa {
    transform: translateX(-25px);
}

/* square buttons */
.rec.rec-arrow {
    border-radius: 50%;
    background-color: #fff;
    color: #707070;
}

/* round buttons on hover */
.rec.rec-arrow:hover:enabled {
    background-color: #C77334;
    color: #fff;
    box-shadow: 0 0 0px 0px #C77334 !important;
}

.rec.rec-arrow:active {
    background-color: #C77334;
    color: #fff;
    box-shadow: 0 0 0px 0px #C77334 !important;
}

/* hide disabled buttons */
.rec.rec-arrow:disabled {
    visibility: hidden;
}

/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item:focus {
    outline: none !important;
    box-shadow: inset 0 0 1px 1px lightgrey;
    background-color: #C77334;
    box-shadow: 0 0 0px 0px #C77334 !important;
}

// 點點一般狀態
.ikyGAt {
    box-shadow: 0 0 0px 0px #C77334 !important;
    background-color: white !important;
}

// 點點選取狀態
.brcpxa {
    background-color: #C77334 !important;
    box-shadow: 0 0 0px 0px #C77334 !important;
}

// 左右btn無border
.chowzb {
    box-shadow: 0 0 0px 0px #C77334 !important;
}
