header {
  position: relative;
}

.video {
  width: 100% !important;
}

.i_homeslogan {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 48px;
  position: absolute;
  top: 30%;
}

.i_homeslogan p{
  color :white;
}

.i_homesubslogan {
  font-size: 24px;
}
