header {
  position: relative;
}

.video {
  width: 100% !important;
}

.slogan {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 48px;
  position: absolute;
  top: 30%;
}

.subslogan {
  font-size: 24px;
}
