header {
  position: relative;
}

.i_video {
  width: 100% !important;
}

.i_homeslogan {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 48px;
  position: absolute;
  top: 30%;
}

.i_homeslogan p {
  color: white;
}

.i_homesubslogan {
  font-size: 24px;
}

@media screen and (max-width: 375px) {
  .iw_video {
    height: 100vh;
    object-fit: cover;
  }
  .i_homeslogan {
    font-size: 22px;
  }
  .i_homesubslogan {
    font-size: 12px;
  }
}
