.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;
  background-color: #f3f4f4;
  color: #1a1818;
  border: none;
  border-radius: 2px;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  height: 45px;
  padding: 9px 11px;
  /* margin-bottom: 20px; */
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  padding-right: 18px;
  color: #1a1818;
}

.ant-select-item-option-content {
  -ms-flex: auto;
  flex: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 40px;
  line-height: 40px;
}

.ant-select-arrow {
  top: 68%;
}

.w_custom_title {
  font-size: 20px;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.w_custom_mmmm {
  margin-bottom: 0px;
}

.w_custom_desc {
  padding: 10px 38px;
  letter-spacing: 3px;
  margin-bottom: 40px;
}

.w_custom-btn {
  width: 84%;
  /* height: 45px;
  justify-content: center;
  display: block;
  border: 1px solid #c77334;
  /* background-color: #c77334; */
  margin-top: 50px;
  /* margin: auto;
  margin-top: 30px;
  color: white;
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86); */
}

.w_custom_work {
  position: relative;
  overflow: hidden;
  width: 280%;
  height: 400px;
}

.w_custom_work:hover.w_custom_work img {
  opacity: 0.6;
}

.w_custom_work img {
  width: 280%;
  height: 400px;
  object-fit: cover;
}

.w_container_fluid {
  margin: 140px 0px;
}

.w_custom_hover p {
  color: white;
}

.w_custom_hover {
  /* color: white; */
  display: none;
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  display: none;
  padding: 150px 30px;
  transition: opacity 0.4s ease 0s;
}

.w_custom_work:hover .w_custom_hover {
  display: block;
  opacity: 1;
  color: white;
}

.parallax {
  background-image: url('../images/arvtable-image1.jpg');
  min-height: 600px;
  /* 沒內文時可以看到的最小高度 */

  background-attachment: fixed;
  /* 固定圖像 */
  background-position: center center;
  /* 圖像置中 */
  background-size: cover;
}

.w_share_big {
  margin: 3px 0 30px 0;
  padding: 0px 0 30px 0;
  /* border-top: solid 1px #47292b; */
  /* background: url(../cssImages/bg-small-divider.gif) no-repeat bottom left; */
  font-size: 44px;
  text-transform: uppercase;
  line-height: 0.9;
}

.w_share_row {
  margin-bottom: 30px;
}

.w_tag {
  color: #c77334;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 0.9;
}

.w_share_text {
  padding: 10px 0px;
  letter-spacing: 3px;
  margin-top: 40px;
}

.w_share_hover_text {
  opacity: 0;
  transition: 0.5s;
}

.coll4:hover .w_share_hover_text {
  opacity: 1;
}

.w_ins_title {
  font-size: 18px;
  margin-top: 20px;
  color: #c77334;
  padding-left: 30px;
  padding-right: 30px;
}

.w_ins_comment {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
}

.w_award_bg {
  max-width: 100%;
  background-color: #ded5c6;
  margin: 0px -15px;
  padding: 20px 10px;
}

.award_img {
  width: 100%;
  height: 470px;
}

.award_img img {
  width: 100%;
  height: 470px;

  object-fit: cover;
}

.w_share_big1 {
  width: 100%;
  line-height: 450px;
  height: 450px;
  overflow: hidden;
  background-position: top;
}

.w_share_big1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-items: flex-start;
}

.ant-steps-item-process .ant-steps-item-icon {
  background: #c77334;
}

.ant-steps-item-process .ant-steps-item-icon {
  border-color: #c77334;
}

.anticon-check svg {
  display: inline-block;
  color: #c77334;
}

.ant-steps-item-finish .ant-steps-item-icon {
  border-color: #c77334;
}

.ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail::after {
  background-color: #c77334;
}

.ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail::after {
  background-color: #c77334;
}

.ant-steps {
  min-height: 730px;
  margin-top: 70px;
}

.w_step {
  margin-bottom: 40px;
}

.w_stepTexttt {
  font-weight: bold;
  letter-spacing: 0;
  line-height: 36px;
  margin-bottom: -10px;
  font-size: 18px;
  color: #ded5c6;

}

.sec_2 .intro_tab {
  position: relative;
  display: flex;
  width: 1300px;
  height: 400px;
  align-items: center;
  margin-bottom: 100px;
}

.sec_2 .intro_tab .tab {
  cursor: pointer;
  width: 800px;
  height: 100%;
  display: flex;
  text-align: center;
  color: #fff;
}

.sec_2 .intro_tab .tab .intab {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 2;
  height: 100%;
  box-sizing: border-box;
  padding: 35px 0;
  margin: 0px 3px;
  transition: 0.5s;
  outline: none;
}

.sec_2 .intro_tab .tab .intab {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* flex: 1; */
  height: 100%;
  box-sizing: border-box;
  padding: 35px 0;
  margin: 0px 3px;
  transition: 0.5s;
  outline: none;
}

.sec_2 .intro_tab .tab .intab_active {
  flex-grow: 5;
}

.sec_2 .intro_tab .tab1 {
  background-image: url('../images/c3.jpg');
}

.sec_2 .intro_tab .tab2 {
  background-image: url('../images/c2.jpg');
}

.sec_2 .intro_tab .tab3 {
  background-image: url('../images/c1.jpg');
}

.sec_2 .intro_tab .intro {
  width: 500px;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  background-color: #ded5c6;
  color: #fff;
}

.sec_2 .intro_tab .tab p {
  writing-mode: vertical-lr;
  margin: 0 auto;
  letter-spacing: 10px;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: white;
}

#w_share:before {
  content: "";
  background-image: linear-gradient(165deg, transparent 0%, transparent 50%, #b7bdb3 50.1%, #b7bdb3 100%);
  width: 100%;
  height: 520px;
  margin-top: -520px;
  display: block;
  position: absolute;
  pointer-events: none;
  z-index: -10;
}

#w_speed:before {
  content: "";
  background-image: linear-gradient(165deg, transparent 0%, transparent 50%, #edece8 50.1%, #edece8 100%);
  width: 100%;
  height: 520px;
  margin-top: -100px;
  display: block;
  position: absolute;
  pointer-events: none;
}

#w_share {
  background-color: #b7bdb3;
}

#w_speed {
  background-color: #b7bdb3;
  height: 400px;
}

#w_speed:after {
  background-color: #edece8;
  /* height: 1000px; */
}

.w_triangle2 {
  background-color: #edece8;
}

.w_tabbb {
  margin-top: 180px;
}

.w_custom_name {
  width: 100%;
  height: 200px;
  padding: 0px;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
}

.cust_show_name {
  display: block;
  content: '';
  width: 200px;
  height: 30px;
  transform: rotate(19deg);
  background: transparent;
  position: absolute;
  right: 15%;
  z-index: 999;
  top: 54%;
  color: white;
  font-weight: 500;

}

.w_custom_name img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 50% 80%;
}

.cus_input {
  margin-top: 25px;
  width: 83%;
  background-color: #f3f4f4;
  height: 45px;

}

.w_share_rowww {
  margin-bottom: 150px;
}

.w_material {
  width: 25px;
  height: 25px;
  overflow: hidden;
  margin: 0px 15px;
  /* border-radius: 50%; */
}

.w_material img {
  width: 60%;
  height: 100%;
  object-fit: cover;
}