body {
  background-color: #edece8;
}

.container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.title {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* p {
  color: #707070;
  font-family: Noto Sans TC;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 4px;
} */

/* common use finish here! */
.firstTop {
  margin-top: 120px;
}

.modalproduct {
  width: 100%;
  /* height: 300px; */
  object-fit: cover;
}

.ant-anchor-wrapper {
  margin-left: -4px;
  /* padding-left: 4px; */
  overflow: auto;
  margin-top: 10px;
  background-color: transparent !important;
  font-size: 18px;
  cursor: pointer;
}

.modalproduct img {
  object-fit: cover;
  width: 100%;
  /* height: 800px; */
}

.heart svg {
  width: 25px;
  height: 25px;
  color: #b7bdb3;
}

.heart {
  cursor: pointer;
  margin: 20px 0px;
}

.wbread {
  margin-bottom: 30px;
}

.subtitle3 {
  font-family: 'Noto Serif TC', serif;
  color: #38393c;
  letter-spacing: 5px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.right-part {
  padding-left: 40px;
}

.bigDesc {
  margin-top: 32px;
}

.stars svg {
  margin-right: 7px;
  /* color: #c77334; */
}

.product_photo {
  /* widthh: 682px; */
  height: 570px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: 0.5s;
}

.product_photo img {
  width: 100%;
  height: 120%;
  object-fit: cover;
  object-position: 50% 90%;
}

.product_photo_small {
  margin-top: 6px;
  width: 176px;
  height: 130px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.product_photo_small img {
  width: 176px;
  height: 130px;
  object-fit: cover;
}

.smallPhotos {
  padding: px;
}

.product_photo_small img {
  width: 100%;
  /* height: 100px; */
  object-fit: cover;
  object-position: 50% 50%;
}

.product-name {
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.product-desc {
  margin-top: 20px;
  margin-bottom: 30px;
}

.choose-area {
  margin-bottom: 50px;
}

.choose-wood {
  width: 50px;
  height: 50px;
  background-color: lightblue;
  margin-right: 5px;
}

.w_cart-btn {
  width: 100%;
  /* height: 50px;
  border: 1px solid #c77334;
  background-color: #c77334;
  margin-top: 90px;
  margin: auto;
  color: white;
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86); */
}

/* .w_cart-btn:hover { */
/* width: 100%;
  height: 50px; */
/* border: none;
  border: 1px solid #c77334;
  background-color: transparent; */
/* margin-top: 90px; */
/* margin: auto; */
/* color: black; */
/* transition: .5s; */
/* } */

/* first container finish here! */

.second-photo {
  width: 600px;
  height: 400px;
  overflow: hidden;
  object-fit: cover;
}

.second-photo img {
  width: 100%;
  object-fit: cover;
}

.second-text p {
  margin: 20px;
  padding: 20px;
}

/* second container finish here! */

.third-photo {
  width: 620px;
  height: 400px;
  overflow: hidden;
  object-fit: cover;
}

.third-photo img {
  width: 620px;
  height: 400px;
  object-fit: cover;
}

.seats {
  width: 100%;
}

.seats3 p {
  list-style-type: none;
  margin: 40px 50px;
  color: #707070;
}

.plus1 {
  background-color: #b7bdb3;
  margin: 0px 20px;
  border-bottom: 1px solid #edece8;
  padding: 15px;
  cursor: pointer;
}

/* third container finish here! */

.quote {
  text-align: center;
  font-size: 32px;
}

.quote p {
  margin: 130px 50px 50px;
  font-family: 'Lora';
  font-size: 24px;
  letter-spacing: 1.3px;
}

.author p {
  margin-top: 50px;
  font-family: 'Lora';
  font-size: 16px;
  letter-spacing: 2px;
}

.author {
  text-align: end;
  margin-top: 50px;
  font-size: 32px;
}

.fourth-photo {
  width: 619px;
  height: 400px;
  overflow: hidden;
  object-fit: cover;
}

.fourth-photo img {
  width: 619px;
  height: 400px;
  /* overflow: hidden; */
  object-fit: cover;
}

/* fourth container finish here! */

.silder-img {
  width: 280px;
}

.silder-img img {
  width: 100%;
}

/* fifth container finish here! */
.top-area {
  height: 200px;
  background-color: transparent;
  width: 567px;
  text-align: center;
}

.top-area p {
  align-items: center;
  line-height: 50px;
}

.top-area h3 {
  margin-top: 45px;
  align-items: center;
  line-height: 50px;
}

.sec-area {
  background-color: #5f6b6b;
  width: 570px;
  color: white;
  text-align: center;
}

.sec-area p {
  padding: 40px 80px;
  color: #f3f4f4;
  line-height: 30px;
}

.post-abs {
  position: relative;
  margin-top: 170px;
}

.designer-photo {
  width: 500px;
  height: 360px;
  position: absolute;
  left: 50px;
  top: 30px;
  object-fit: cover;
  overflow: hidden;
}

.designer-photo img {
  width: 500px;
  height: 360px;
  object-fit: cover;
}

/* sixth container finish here! */

.left-icon {
  width: 300px;
  margin-top: 100px;
}

.left-icon img {
  width: 100%;
}

.hotel-left {
  padding: 100px 20px 30px;
}

.right-img {
  min-width: 800px;
  background-size: cover;
  height: 500px;
  overflow: hidden;
}

.right-img img {
  width: 100%;
}

.w_six_scroll {
  height: 550px;
  overflow: scroll;
}

.w_six_scroll::-webkit-scrollbar {
  display: none;
}

/* seventh container finish here! */
.roll {
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-position: center;
}

.roll img {
  width: 100%;
}

/* roll container finish here! */
.review {
  background-color: #d6d7d1;
  margin-bottom: 30px;
  padding: 50px;
}

.reviewNO {
  background-color: #d6d7d1;

  padding: 50px;
}

.review-photo {
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.review-photo img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.reviews p {
  font-size: 16px;
}

.w_rew_scroll {
  height: 408px;
  overflow: scroll;
  overflow-x: hidden;
  /* border:3px solid white; */
}

.w_rew_scroll::-webkit-scrollbar {
  background: #c77334;
  width: 6px;
}

/* scroll底色 */
.w_rew_scroll::-webkit-scrollbar-track-piece {
  background: #edece8;
}

/* scroll顏色 */
.w_rew_scroll::-webkit-scrollbar-thumb {
  background: #707070;
  border-radius: 20px;
}

.memberPhoto {
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin-left: 168px;

  border-radius: 50%;
}

.memberPhoto img {
  width: 100%;
  height: 100px;
}

.w_reviewSub {
  margin-top: 30px;
  color: #475050;
  font-family: Noto Serif TC;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
}

.w_comP {
  color: black;
  font-family: Noto Sans TC;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 2px;
}

.w_review_date {
  margin-top: 23px;
}

.w_review_comm {
  margin-top: 20px;
  line-height: 30px;
  color: #475050;
  font-family: Noto Sans TC;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3px;
}

.more-btn {
  display: block;
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 10px;
  background-color: #c77334;
  margin-bottom: 50px;
  margin-top: 50px;
  color: white;
}

/* eight container finish here! */
.related-product {
  background-color: #eae1d8;
  padding-bottom: 50px;
}

.related-img {
  width: 200px;
}

.related-img img {
  width: 100%;
}

/* nine container finish here! */

.delivery {
  width: 200px;
  margin: 30px 30px 0px 30px;
}

.delivery img {
  width: 100%;
}

.free-del {
  background-color: #deddda;
  padding-bottom: 50px;
}

/* ten container finish here! */

.icons {
  width: 35px;
  height: 35px;
  margin-right: 20px;
  margin-top: 25px;
  align-items: center;
  color: #4d4848;
}

.icons img {
  height: 100%;
}

.icon-area {
  padding-right: 70px;
}

.subtitle {
  border-bottom: 1px solid black;
  margin-left: 70px;
}

.subtitle p {
  margin-right: 20px;
  font-size: 14px;
  color: #4d4848;
}

.subtitle2 {
  margin-left: 70px;
  margin-top: 20px;
}

.subtitle2 p {
  margin-right: 33px;
  font-size: 14px;
  color: #707070;
  margin-bottom: 8px;
}

.logo-img {
  width: 150px;
}

.logo-img img {
  width: 100%;
}

.logo {
  margin-bottom: 100px;
  padding-top: 70px;
  padding-left: 70px;
}

.w_footer {
  background-color: #ded5c6;
  z-index: 20;
}

.company {
  margin-left: 70px;
  margin-top: 100px;
  font-size: 14px;
}

.rules {
  margin-top: 100px;
  margin-right: 70px;
}

.rules p {
  margin-left: 15px;
  font-size: 14px;
}

.inner-img {
  width: 50px;
}

.inner-img img {
  width: 100%;
}

/* fiter css */
.i_detail {
  width: 68%;
}

.i_filter {
  width: 100%;
  cursor: pointer;
}

.i_list {
  width: 100%;
  height: 70px;
  border-top: 1px solid #c5c5c5;
}

.i_border_bottom {
  border-bottom: 1px solid #c5c5c5;
}

.i_list p {
  display: inline-block;
  line-height: 70px;
  font-size: 16px;
  letter-spacing: 2px;
}

.i_title {
  font-size: 16px;
  font-weight: bold;
}

.i_info {
  cursor: default;
}

.i_info .i_text {
  font-size: 12px;
}

.i_border_bottom {
  margin-bottom: 100px;
}

.i_icon_area {
  width: 100%;
  background-color: #deddda;
}

.i_box p {
  margin: 0;
  font-size: 18px;
}

.i_box {
  margin: 50px auto;
}

.i_box_area {
  width: 40px;

  margin: 0 auto;
}

.i_box_area img {
  width: 100%;
}

.car_fix {
  width: 63px;
}

.fast_fix {
  width: 39px;
}

.cod_fix {
  width: 54px;
}

.i_box .i_num {
  font-size: 12px;
  text-decoration: underline;
}

.i_num a {
  color: #475050;
}

.i_num a:hover {
  color: #475050;
}

/* below are ten css */

.fade-pager {
  height: 600px;
  min-width: 80vw;
  overflow: hidden;
  position: relative;
  object-fit: contain;
  margin-left: 50px;
}

.fade-pager__pages {
  list-style: none;
  position: absolute;
}

.lazy-img-container .b-lazy.loaded:not(.secondary-image) {
  opacity: 1;
  transition: 0.7s;
  transition: opacity 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.fade-pager__indicators {
  /* position: absolute; */
  z-index: 52;
  color: gray;
  /* left: -15%; */
  bottom: 0px;
  padding-bottom: 10px;
  text-align: center;
  list-style: none;
  margin-right: 20px;
  margin-left: 30px;
}

.fade-pager__indicator {
  margin-bottom: 20px;
  width: 30px;
  transition: 0.7s;
  transition-timing-function: ease-in;
  cursor: pointer;
}

.fade-pager__indicator.active {
  border-bottom: 1px solid white;
  color: white;
  width: 30px;
}

.thirdbg {
  background-color: #5f6b6b;
  padding-top: 60px;
  height: 600px;
  margin-bottom: 300px;
}

.fade-pager__btn--next,
.fade-pager__btn--prev {
  position: absolute;
  top: 0;
  width: 45%;
  height: 100%;
  cursor: pointer;
  z-index: 100;
}

.fade-pager__btn--prev {
  cursor: w-resize;
  z-index: 120;
  position: absolute;
}

.fade-pager__btn--prev {
  left: 0;
  position: absolute;
}

.fade-pager__btn--next {
  cursor: e-resize;
}

.fade-pager__btn--next {
  left: 55%;
}

.fade-pager__page {
  display: none;
  transition: opacity 0.3s;
  transition-timing-function: ease-in;
}

.fade-pager__page.active {
  display: block;
}

.parallax1 {
  background-image: url('../images/scroll.jpg');
  min-height: 600px;
  /* 沒內文時可以看到的最小高度 */

  background-attachment: fixed;
  /* 固定圖像 */
  background-position: center center;
  /* 圖像置中 */
  background-size: cover;
}

.w_title1 {
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}

.site-drawer-render-in-current-wrapper {
  position: relative;
  height: 200px;
  padding: 48px;
  overflow: hidden;
  text-align: center;
  background: #fafafa;
  border: 1px solid #ebedf0;
  border-radius: 2px;
}

.site-drawer-render-in-current-wrapper {
  background: url('../images/book.jpg');
  background-size: cover;
  background-position: center;
}

.site-drawer-render-in-current-wrapper {
  height: 650px;
}

.w_news-btn {
  width: 30%;
  margin-top: 260px;
  margin-left: 650px;
}

.w_join_member {
  padding: 30px;
}

.w_join_cata {
  margin: 50px 20px;
}

.w_online_text {
  color: white;
  padding: 30px 30px;
}

.ant-drawer-header {
  background: #5f6b6b !important;

  height: 250px;
}

.ant-drawer-body {
  background: #d6d7d1;
}

.w_online-btn {
  width: 30%;
  margin-top: 30px;
  width: 200px;
  background: #5f6b6b;
  color: white !important;
}

.w_online-btn2 {
  width: 30%;
  margin-top: -5px;
  width: 200px;
  background: #d6d7d1;
  color: #5f6b6b !important;
}

.w_online-btn2 a {
  color: #5f6b6b;
}

.w_online-btn2:hover a {
  color: white;
}

.w_float_text {
  position: relative;

}

.w_float_circle {
  position: relative;
}

.w-big-text {
  z-index: 5;
}

.w-big-text {
  position: absolute;
  top: 0;
  width: 100vw;
  left: 0;
  font-size: 10vw;
  line-height: 10vw;
  white-space: nowrap;
  z-index: 2;
  opacity: .03;
  font-weight: 700;
  color: #282533;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.ShareButtons__Item {
  display: table-cell;
  width: 120px;
  height: 45px;
  min-height: 45px;
  color: #909090;
  text-align: center;
  vertical-align: middle;
  background: #f7f6f4;
  /* border: .5px solid #d7d6d5; */
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: all 0.2s ease-in-out;
}

.ShareButtons__Item svg {
  height: 18px;
  width: 18px;
  vertical-align: text-bottom;
}

.ShareButtons__Item--facebook:hover,
.no-supports-hover .ShareButtons__Item--facebook {
  background: #4469af;
  color: #ffffff;
  border-color: #4469af;
  outline: 1.5px solid #4469af;
}

.ShareButtons__Item--pinterest:hover,
.no-supports-hover .ShareButtons__Item--pinterest {
  background: #06B901;
  color: #ffffff;
  border-color: #06B901;
  outline: 1.5px solid #06B901;
}

.ShareButtons__Item--linkedin:hover,
.no-supports-hover .ShareButtons__Item--linkedin {
  background: #0077b5;
  color: #ffffff;
  border-color: #0077b5;
  outline: 1.5px solid #0077b5;
}

.ShareButtons {
  margin-top: 30px;
}

.ant-anchor-ink::before {

  background-color: transparent !important;
}

/* .ant-anchor-link a:hover {
  color: #c77334
} */

.product-desc2 {
  height: 50px;
}