body {
    margin: 0px;
    padding: 0px;
    background-color: #EDECE8;
}


.context1 {
    width: calc(100% - 80px);
    margin-left: 80px;
}

.sidebar {
    display: block;
    position: fixed;
    z-index: 3;
    width: 80px;
    background-color: #DED5C6;
    top: 0;
    bottom: 0;
    overflow: scroll;
    color: #475050;
    font-family: Noto Sans TC;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

#close {
    text-align: end;
    margin-top: 20px;
    margin-right: 20px;
    color: #1A1818;

}

.clearFilter {
    text-align: center;
    margin: 40px 30px;
    padding: 5px 5px;
    font-size: 12px;
    color: #1A1818;
    background-color: #F3F4F4;

}

.filterTag {
    text-align: start;
    margin: 0px 30px;
    font-size: 12px;
    color: #475050;
}

p {
    color: black;
}

#seats1 {
    display: none;
}

#seats1 li {
    list-style-type: none;
    margin-left: 30px;
}

a {
    text-decoration: none;
    color: #707070;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 4px;
}

.chooseRadio {
    text-decoration: none;
    color: #707070;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 4px;
    margin-right: 3px;
}

.plus {

    margin: 20px 20px;
    border-bottom: 1px solid #A7A49F;
    padding: 15px;


}

.refinement-title {
    color: #475050;
    font-family: Noto Sans TC;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 5px;
}

.filterText {
    position: absolute;
    position: fixed;
    left: 25px;
    top: 50%;
    transform: translate(0%, -50%);
    writing-mode: vertical-lr;
    text-orientation: upright;
    z-index: 10;
    display: block;


}

.sidebarContent {
    display: none;
}

.searchButton {
    border: none;
    width: 200px;
    height: 40px;
    background-color: #C77334;
    color: #FFFFFF;
    letter-spacing: 5px;
    display: block;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 50px;

}


/* 以上為filter bar  */


.productCard {
    margin: 0px 0px 60px 0px;
}

.productCard p {
    font-size: 14px;
    letter-spacing: 3px;
    text-align: center;
    display: block;
    margin: 5px;
    font-family: 'Noto Serif TC', serif;
    font-weight: 500;
}

.productCardImg {

    height: 250px;
    overflow: hidden;
    position: relative;
    object-fit: contain;
}

.productCardImg {
    width: 100%;

}

.productCardImgHover {
    filter: opacity(0);
    width: 350px;
    height: 250px;
    overflow: hidden;
    position: absolute;
    left: 15px;
    top: 0;
    transition: .5s;
}

.productCardImgHover:hover {
    filter: opacity(1);
    z-index: 10;
    width: 350px;
    height: 250px;
    overflow: hidden;
    position: absolute;
    left: 15px;
    top: 0;
}

.productCardImgHover img {
    height: 100%
}

img {
    max-width: 100%;
    /* object-position: 10% -300%; */
}

/* ____________________________________________ */
.popularImg {
    width: 228px;
    height: 228px;
    overflow: hidden;
}

.popular2 {
    width: 40%;
    background-color: #F7F1ED;
    padding: 15px;
    margin: 50px -30px 50px 0px;
}


.popularText {
    text-align: center;
    display: block;
    margin-left: 65px;
}

.popularButton {
    border: none;
    width: 200px;
    height: 40px;
    background-color: #D9C7AA;
    color: #FFFFFF;
    letter-spacing: 5px;
    font-size: 14px;
    font-weight: 300;
    display: block;
    margin: auto;
    margin-top: 45px;

}

.classic {
    font-family: 'Noto Serif TC', serif;
    color: #38393C;
    letter-spacing: 5px;
    font-size: 24px;
    font-weight: 500;
    margin-top: 43px;

}

.bestSell {

    color: #D9C7AA;
    letter-spacing: 5px;
    font-size: 14px;
    font-weight: 300;
}

.loadButton {
    border: none;
    width: 200px;
    height: 40px;
    background-color: #C77334;
    color: #FFFFFF;
    letter-spacing: 5px;
    font-size: 14px;
    display: block;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 50px;
}

/* ------------------------------------- */

.subtitle1 {
    font-family: 'Noto Serif TC', serif;
    color: #38393C;
    letter-spacing: 5px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
    text-align: center;
}

.seriesTitle {
    font-family: 'Noto Serif TC', serif;
    color: #F3F4F4;
    letter-spacing: 5px;
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    right: 30px;
    top: 10px;
    z-index: 10;
}

.seriePhoto {
    width: 100%;
    height: 500px;
    position: relative;
    margin-bottom: 100px;
    background-position: center;
}

.seriePhoto img {
    width: 100%;
    height: 500px;
   object-fit: cover;
}


/* 以上為產品系列區塊 */

/* p {
    color: #707070;
    font-family: Noto Sans TC;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 4px;
} */


/* 以下為new */


.product-left-border {
    height: 620px;
    top: -24px;
    width: 0.5px;
    position: relative;
    left: 30px;
    border-left: 1px solid rgba(144, 144, 144, 0.5);
}

@media screen and (min-width: 1008px) {
    .ShopTheLook__ProductList {
        flex: none;
        width: 270px;
        margin: 0 80px;
    }
}

@media only screen and (max-width: 1499px) and (min-width: 1440px) {
    .product-right-border {
        height: 620px;
        top: -24px;
    }
}

.product-right-border {
    width: 0.5px;
    border-right: 1px solid rgba(144, 144, 144, 0.5);
    position: relative;
    left: -30px;
}

.w_new_text {
    font-size: 14px;
    letter-spacing: 2px;
}

.w_new-btn {
    width: 84%;
    height: 40px;
    justify-content: center;
    display: block;
    border: 1px solid #c77334;
    background-color: #c77334;
    margin-top: 90px;
    margin: auto;
    margin-top: 40px;
    color: white;
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.w_new_img {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.w_new_img img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/* below are seriesTitle */

.fade-pager__indicator1 {
    margin-bottom: 20px;
    width: 100%;
    transition: .7s;
    transition-timing-function: ease-in;
}

.fade-pager__indicator1.active {
    /* border-bottom: 1px solid white; */
    color: white;
    width: 100%;

}

.fade-pager1 {
    height: 600px;
    /* min-width: 80vw; */
    overflow: hidden;
    position: relative;
    object-fit: contain;

}

.thirdbg1 {
    background-color: #5f6b6b;
    padding-top: 50px;
    height: 600px;
    /* margin-bottom: 300px; */
  }