body {
  margin: 0px;
  padding: 0px;
  background-color: #edece8;
}



.context1 {
  width: calc(100% - 80px);
  margin-left: 80px;
}

.sidebar {
  display: block;
  position: fixed;
  z-index: 3;
  width: 80px;
  background-color: #ded5c6;
  top: 0;
  bottom: 0;
  overflow: scroll;
  color: #475050;
  font-family: Noto Sans TC;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

#close {
  text-align: end;
  margin-top: 20px;
  margin-right: 20px;
  color: #1a1818;
  cursor: pointer;
}

.clearFilter {
  text-align: center;
  margin: 40px 30px;
  padding: 5px 5px;
  font-size: 12px;
  color: #1a1818;
  background-color: #f3f4f4;
  cursor: pointer;
}

.filterTag {
  text-align: start;
  margin: 0px 30px;
  font-size: 12px;
  color: #475050;
}

p {
  color: black;
}

#seats1 {
  display: none;
}

#seats1 li {
  list-style-type: none;
  margin-left: 30px;
}

a {
  text-decoration: none;
  color: #707070;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 4px;
}

.chooseRadio {
  text-decoration: none;
  color: #707070;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 4px;
  margin-right: 3px;
}

.plus {
  margin: 20px 20px;
  border-bottom: 1px solid #a7a49f;
  padding: 15px;
  cursor: pointer;
}

.refinement-title {
  color: #475050;
  font-family: Noto Sans TC;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 5px;
}

.filterText {
  position: absolute;
  position: fixed;
  left: 25px;
  top: 50%;
  transform: translate(0%, -50%);
  writing-mode: vertical-lr;
  text-orientation: upright;
  z-index: 10;
  display: block;
}

.sidebarContent {
  display: none;
}

.searchButton {
  border: none;
  width: 200px;
  height: 40px;
  background-color: #c77334;
  color: #ffffff;
  letter-spacing: 5px;
  display: block;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 50px;
}

/* 以上為filter bar  */

.productCard {
  margin: 0px 0px 60px 0px;
  cursor: pointer;
}

.productCard p {
  font-size: 14px;
  letter-spacing: 3px;
  text-align: center;
  display: block;
  margin: 5px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 500;
}

.productCardImg {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  object-fit: contain;
}

.productCardImg img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.productCardImgHover {
  filter: opacity(0);
  width: 350px;
  height: 250px;
  overflow: hidden;
  position: absolute;
  left: 15px;
  top: 0;
  transition: 0.5s;
}

.productCardImgHover img {
  width: 350px;
  height: 250px;
  object-fit: cover;
}

.productCardImgHover:hover {
  filter: opacity(1);
  z-index: 10;
  width: 350px;
  height: 250px;
  overflow: hidden;
  position: absolute;
  left: 15px;
  top: 0;
}

.productCardImgHover img {
  height: 100%;
}

img {
  max-width: 100%;
  /* object-position: 10% -300%; */
}

/* ____________________________________________ */
.popularImg {
  width: 228px;
  height: 228px;
  overflow: hidden;
}

.popular2 {
  width: 40%;
  background-color: #f7f1ed;
  padding: 15px;
  margin: 50px -30px 50px 0px;
}

.popularText {
  text-align: center;
  display: block;
  margin-left: 65px;
}

.popularButton {
  border: none;
  width: 200px;
  height: 40px;
  background-color: #d9c7aa;
  color: #ffffff;
  letter-spacing: 5px;
  font-size: 14px;
  font-weight: 300;
  display: block;
  margin: auto;
  margin-top: 45px;
}

.classic {
  font-family: 'Noto Serif TC', serif;
  color: #38393c;
  letter-spacing: 5px;
  font-size: 24px;
  font-weight: 500;
  margin-top: 43px;
}

.bestSell {
  color: #d9c7aa;
  letter-spacing: 5px;
  font-size: 14px;
  font-weight: 300;
}

.w_loadButton {
  border: none;
  width: 200px;
  height: 40px;
  background-color: #c77334;
  color: #ffffff;
  letter-spacing: 5px;
  font-size: 14px;
  display: block;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 50px;
}

/* ------------------------------------- */

.subtitle1 {
  font-family: 'Noto Serif TC', serif;
  color: #38393c;
  letter-spacing: 5px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
  text-align: center;
}

.seriesTitle {
  font-family: 'Noto Serif TC', serif;
  color: #f3f4f4;
  letter-spacing: 5px;
  font-size: 18px;
  font-weight: 300;
  position: absolute;
  right: 30px;
  top: 10px;
  z-index: 10;
}

.seriePhoto {
  width: 100%;
  height: 500px;
  position: relative;
  margin-bottom: 100px;
  background-position: center;
}

.seriePhoto img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/* 以上為產品系列區塊 */

/* p {
    color: #707070;
    font-family: Noto Sans TC;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 4px;
} */

/* 以下為new */

.product-left-border {
  height: 620px;
  top: -24px;
  width: 0.5px;
  position: relative;
  left: 30px;
  border-left: 1px solid rgba(144, 144, 144, 0.5);
}

@media screen and (min-width: 1008px) {
  .ShopTheLook__ProductList {
    flex: none;
    width: 270px;
    margin: 0 80px;
  }
}

@media only screen and (max-width: 1499px) and (min-width: 1440px) {
  .product-right-border {
    height: 620px;
    top: -24px;
  }
}

.product-right-border {
  width: 0.5px;
  border-right: 1px solid rgba(144, 144, 144, 0.5);
  position: relative;
  left: -30px;
}

.w_new_text {
  font-size: 14px;
  letter-spacing: 2px;
}

.w_new-btn {
  width: 84%;
  height: 40px;
  justify-content: center;
  display: block;
  border: 1.5px solid #c77334;
  background-color: #c77334;
  margin-top: 90px;
  margin: auto;
  margin-top: 40px;
  color: white;
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.w_new_img {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.w_new_img img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

/* below are seriesTitle */

.fade-pager__indicator1 {
  margin-bottom: 20px;
  width: 100%;
  transition: 0.5s;
  transition-timing-function: ease-in;
  cursor: pointer;
}

.fade-pager__indicator1.active {
  /* border-bottom: 1px solid white; */
  color: white;
  width: 100%;
}

.fade-pager1 {
  height: 600px;
  /* min-width: 80vw; */
  overflow: hidden;
  position: relative;
  object-fit: contain;
}

.thirdbg1 {
  background-color: #5f6b6b;
  padding-top: 50px;
  height: 600px;
  /* margin-bottom: 300px; */
}

.w_newsletter {
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin: 0px -15px;
  position: relative;
}

.w_newsletter img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.align-content {
  display: block;
  content: '';
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  background: #edece8;
  position: absolute;
  right: -10px;
  z-index: 999;
  top: 45%;

  right: 0px;
}

.w_news1 {
  position: absolute;
  top: 20%;
  left: 45%;
  color: white;
}

.w_news2 {
  position: absolute;
  top: 30%;
  left: 41.2%;
  color: white;
  font-size: 12px;
}

.w_news3 {
  color: black;
  font-size: 12px;
}

.w_newsletter1 {
  margin-left: 40px;
  padding: 130px 0px;
}

.w_new_row {
  margin-bottom: 100px;
}

.titleh-line.l1 {
  position: absolute;
  left: 550px;
  top: 114px;
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.titleh-line.l2 {
  position: absolute;
  left: 705px;
  top: 114px;
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.titleh-line {
  /* bottom: 11px; */
  width: 10px;
  height: 1px;
  border-bottom: solid 0.5px white;
  /* position: absolute; */
}

.formstyleww {
  background-color: transparent;
  border: 0.5px solid #ded5c6;
  margin-bottom: 15px;
  padding: 25px 15px;
}

.formstyleww:focus {
  /* background-color: #ded5c6; */
  /* border: .5px solid #ded5c6;
    margin-bottom: 15px;
    padding: 25px 15px; */
}

.w_video {
  position: relative;
  max-width: 100%;
  height: 900px;
  object-fit: cover;
}

.Slideshow--fullscreen .Slideshow__ScrollButton {
  bottom: 10px;
}

.Slideshow__ScrollButton {
  position: absolute;
  left: calc(50% - 25px);
  bottom: 80px;
}

.RoundButton--medium {
  width: 50px;
  height: 50px;
}

.RoundButton,
.flickity-prev-next-button {
  position: relative;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: #f3f4f4;
  color: #c77334;
  cursor: pointer;
  text-align: center;
  z-index: 1;
  /* box-shadow: 0 2px 10px rgba(54, 54, 54, 0.15); */
  vertical-align: middle;
  line-height: 0;
  transform: scale(1.001);
  transition: background 0.15s ease-in-out, opacity 0.15s ease-in-out,
    transform 0.2s ease-in-out, color 0.2s ease-in-out;
  overflow: hidden;
}

.RoundButton:hover {
  background: #c77334;
  color: #f3f4f4;
}

.RoundButton--medium svg {
  height: 18px;
  width: 18px;
  border: 1px;
}

.Icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  fill: currentColor;
  vertical-align: middle;
  stroke-width: 1px;
  background: none;
  pointer-events: none;
}

.w_custom_small {
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin-top: 30px;
}

.w_custom_small img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.w_custom_big {
  width: 100%;
  height: 350px;
  overflow: hidden;
  margin-top: 30px;
  position: relative;
}

.w_custom_big img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.w_custom_text {
  width: 100%;
  height: 80px;
  background-color: #707070;
  color: white;
  margin-top: 30px;
  font-size: 18px;
  line-height: 80px;
}

.w_custom_text p {
  color: white;
}

.w_custon_btn {
  /* position: absolute; */
  /* x */
  margin-top: 30px;
}

.w_phone {
  width: 100%;
  /* height: 400px; */
}

.w_phone img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.js-qty {
  position: relative;
  margin: 30px auto;
  /* max-width: 103px; */
  min-width: 75px;
  overflow: visible;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  color: #707070
}

.js-qty__adjust--minus {
  left: 0;
  color: #707070
}

.js-qty__adjust {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  top: 0px;
  bottom: 0px;
  border: 0 none;
  background: none;
  text-align: center;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.js-qty .js-qty__num {
  display: block;
  background: none;
  text-align: center;
  border: 1px solid #ded5c6;
  width: 100%;
  padding: 5px 30px;
  margin: 0;
  color: #707070
}

.js-qty__adjust--plus {
  right: 0;
  color: #707070
}

.steps-content {
  margin-top: 16px;
  /* border: 1px dashed #e9e9e9; */
  border-radius: 2px;
  background-color: #e0dfdb;
  height: 450px;
  text-align: center;
  padding-top: 40px 20px;
}

.steps-action {
  margin-top: 24px;
}

.w_recom_start {
  height: 450px;
  width: 100%;
  overflow: hidden;
}

.w_recom_start img {
  height: 450px;
  width: 100%;
  object-fit: cover;
}

.rec_text {
  font-size: 16px;
  margin: 20px 0px;
}

.w_com_real {
  position: relative;
}

.w_recom {
  transform: rotate(90deg);
  position: absolute;
  top: -269px;
  left: -260px
}


.productCardImg_recom {
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
  object-fit: contain;
}

.productCardImg_recom img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

span.PIN_1605466003322_embed_grid .PIN_1605466003322_hd .PIN_1605466003322_img {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 36px;
  width: 36px;
  border-radius: 18px;
  background: transparent url () 0 0 no-repeat;
  background-size: cover;
}

span.PIN_1605466003322_embed_grid * {
  display: block;
  position: relative;
  font: inherit;
  cursor: inherit;
  color: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 5px;
  text-align: left;
}

span.PIN_1605466003322_embed_grid {
  width: 100%;
  max-width: 257px;
  min-width: 140px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 16px;
  overflow: hidden;
  font: 12px "Helvetica Neue", Helvetica, arial, sans-serif;
  color: rgb(54, 54, 54);
  box-sizing: border-box;
  background: #fff;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

span.PIN_1605466003322_embed_grid.PIN_1605466003322_c3 {
  /* max-width: 731px; */
  min-width: 1000px;
}

span.PIN_1605466003322_embed_grid .PIN_1605466003322_hd {
  height: 60px;
}

span.PIN_1605466003322_embed_grid .PIN_1605466003322_hd .PIN_1605466003322_img {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 36px;
  width: 36px;
  border-radius: 18px;
  background: transparent url () 0 0 no-repeat;
  background-size: cover;
}

span.PIN_1605466003322_embed_grid.PIN_1605466003322_board .PIN_1605466003322_hd .PIN_1605466003322_pinner {
  top: 10px;
}

span.PIN_1605466003322_embed_grid .PIN_1605466003322_hd .PIN_1605466003322_pinner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  position: absolute;
  top: 20px;
  left: 56px;
  font-size: 14px;
  font-weight: bold;
}

span.PIN_1605466003322_embed_grid.PIN_1605466003322_board .PIN_1605466003322_hd .PIN_1605466003322_board {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  position: absolute;
  bottom: 0px;
  left: 56px;
  color: #363636;
  font-size: 12px;
}

span.PIN_1605466003322_embed_grid .PIN_1605466003322_bd {
  padding: 0 10px;
  -moz-scrollbars: none;
  -ms-overflow-style: none;
  overflow-x: hidden;
  overflow-y: auto;
}

span.PIN_1605466003322_embed_grid .PIN_1605466003322_bd .PIN_1605466003322_ct .PIN_1605466003322_col .PIN_1605466003322_img {
  margin: 0;
  display: inline-block;
  width: 100%;
  /* background: transparent url() 0 0 no-repeat; */
  background-size: cover;
  border-radius: 8px;
}

span.PIN_1605466003322_embed_grid.PIN_1605466003322_c3 .PIN_1605466003322_bd .PIN_1605466003322_ct .PIN_1605466003322_col {
  width: 33.33%;
}

span.PIN_1605466003322_embed_grid .PIN_1605466003322_ft {
  padding: 10px;
}

/* span.PIN_1605466003322_embed_grid * {
  display: block;
  position: relative;
  font: inherit;
  cursor: inherit;
  color: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-align: left;
} */

span.PIN_1605466003322_embed_grid .PIN_1605466003322_ft .PIN_1605466003322_button {
  border-radius: 5px;
  text-align: center;
  background-color: #efefef;
  border: 1px solid #efefef;
  position: relative;
  display: block;
  overflow: hidden;
  height: 32px;
  width: 98%;
  min-width: 70px;
  padding: 0 3px;
  margin: auto;
}

span.PIN_1605466003322_embed_grid .PIN_1605466003322_ft .PIN_1605466003322_button .PIN_1605466003322_label.PIN_1605466003322_bottom {
  bottom: 0;
}

span.PIN_1605466003322_embed_grid .PIN_1605466003322_ft .PIN_1605466003322_button .PIN_1605466003322_label {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

span.PIN_1605466003322_embed_grid .PIN_1605466003322_ft .PIN_1605466003322_button .PIN_1605466003322_label .PIN_1605466003322_string {
  white-space: pre;
  color: #746d6a;
  font-size: 13px;
  font-weight: bold;
  vertical-align: top;
  display: inline-block;
  height: 32px;
  line-height: 32px;
}

span.PIN_1605466003322_embed_grid .PIN_1605466003322_ft .PIN_1605466003322_button .PIN_1605466003322_label .PIN_1605466003322_logo {
  display: inline-block;
  vertical-align: bottom;
  height: 32px;
  width: 80px;

  background-size: contain;
}

button:focus {

  outline: none -webkit-focus-ring-color !important;

}

.w_ins_title2 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 18px;

  color: #c77334;
  padding-left: 30px;
  padding-right: 30px;
}

.w_pin_btn {
  width: 98%;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
}

.Heading.u-h6,
.Rte h6.Heading {
  font-family: "The Wave Blood Regular", sans-serif;
  font-style: normal;
  letter-spacing: 3px;
  line-height: 20px;
}

.SectionHeader__SubHeading {
  text-transform: uppercase;
  color: white;
  font-size: 10px;
  position: absolute;
  left: 40%;
  bottom: 90px;
}

.w_hand_write {
  width: 200px;
  position: absolute;
  left: 43%;
  bottom: 140px;
}