.w_entryBg {
  background-color: #ded5c6;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 90%;
  width: 100vw;
  height: 100vh;
  z-index: 99;
}

.w_text {
  font-family: Noto Sans TC;
  color: #303946;
  /* width: 600px; */

  position: absolute;
  left: 50%;
  top: 45vh;
  font-size: 24px;
  transform: translate(-50%, -50%);
  z-index: 100;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 30%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #c77334;
  }
}

.w_aa {
  display: none;
  /* width: 50px; */
  font-size: 48px;
  z-index: 100;
  font-family: Noto Sans TC;
  color: #303946;
  position: absolute;
  left: 50%;
  top: 45vh;
  transform: translate(-50%, -50%);
}

.w_better {
  z-index: 100;
  display: none;
  position: absolute;
  left: 45%;
  top: 50vh;
  width: 50px;
  font-family: Noto Sans TC;
  letter-spacing: 3px;
  color: #303946;
  transform: translate(-50%, -50%);
  font-size: 48px;
  animation-name: oxxo1;
  animation-duration: 2s;
  animation-delay: 1s;
}

@keyframes oxxo1 {
  from {
    left: 46%;
  }

  to {
    left: 39.5%;
  }
}

.w_tomorrow {
  z-index: 100;
  display: none;
  position: absolute;
  left: 50%;
  top: 55vh;
  /* width: 50px; */
  font-size: 48px;
  font-family: Noto Sans TC;
  letter-spacing: 3px;
  color: #303946;
  transform: translate(-50%, -50%);
  animation-name: oxxo;
  animation-duration: 2s;
  animation-delay: 1s;
}

@keyframes oxxo {
  from {
    left: 43%;
  }

  to {
    left: 59.5%;
  }
}

.w_skip {
  position: absolute;
  z-index: 100;
  left: 50.8%;
  top: 80vh;
  transform: translate(-50%, -50%);
  width: 100px;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 500;
  color: #c77334;
}
