body {
  background-color: #edece8;
  color: #475050 !important;
  margin: 0;
  padding: 0;
  margin-top: 100px;
}

.customer_container{
  max-width:1230px;
}

// .homeContainer {
//   padding-left: 15%;
//   padding-right: 15%;
//   width: 100% !important;
// }
