.colsecartdiv{
    width: 100vw;
    top: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 3;
    overflow: hidden;
}

.closecartbox{
    margin-top: 52px;
    width: 550px;
    top: 0;
    bottom: 0;
    position:fixed;
    right:-550px;
    background-color: #F3F4F4;
    animation-name:closecart;
    animation-duration:  .5s;
    z-index: 5;
    // background-color: transparent
  }
.showcartbox{
    width: 550px;
    top: 0;
    bottom: 0;
    position:fixed;
    right:0px;
    background-color: #F3F4F4;
    animation-name:showcart;
    animation-duration:  .5s;
    z-index: 5;
  }
  @keyframes showcart{
    from{
        right:-550px;
    }
    to{
        right:0px;
    }
  }
  @keyframes closecart{
    from{
        right:0px;
    }
    to{
        right:-550px;
    }
  }
  .btn1{
    position: absolute;
    bottom: 0;
    width: 550px;
    height: 50px;
    background-color: #C67334;
    z-index: 6;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: white;
  }
  .btn1:hover{
    text-decoration: none;
    color: white;
  }
  .j_btn2{
      width: 100px;
      height: 40px;
      background-color: #C67334;
      text-align: center;
      line-height: 40px;
      text-decoration: none;
      color: black;
  }
  .j_btn2:hover{
    text-decoration: none;
    color: black;
  }
  .btn3{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 50px;
    background-color: #C67334;
    // z-index: 6;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: white;
    margin-bottom: 50px;
  }
  .btn3:hover{
    text-decoration: none;
    color: white;
  }
  .btn4{
    margin: 0 auto 30px auto;
    width: 400px;
    height: 50px;
    background-color: #C67334;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: white;
}
.btn4:hover{
  text-decoration: none;
  color: white;
}
  ul{
    list-style-type: none;
  }
  .carousel{
    width: 100vw;
    height: 100vh;
    background-color: pink;
    position: relative;
    overflow: hidden;
  }
  .carousel ul{
    width: 500vh;
    display: flex;
    position: absolute;
  }
  .carousel li div {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color:black;
  
  }
  .slider-dots{
    margin: 0 auto;
    bottom: 0;
  }
  
  //progress bar
  .myprogress{
    width: 650px;
    height: 95px;
    margin: 140px auto 0 auto;
    position: relative;
  }
  .progressbar{
    width: 600px;
    height: 25px;
    margin: 0 auto;
    padding: 0 0px;
    border-radius: 25px;
    background-color: #C77334;
    display: flex;
    justify-content: space-between;
  }
  .activecircle{
    // position: absolute;
    margin-top: -12.5px;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    background-color: #436464;
  }
  .layoutcircle{
         // position: absolute;
    margin-top: -12.5px;
    width: 45px;
    height: 45px;
    border-radius: 45px;
  }
  .defaultcircle{
    // position: absolute;
    margin: 15px auto 0 auto;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #fff;
  }
  .progresstitle{
    margin-top: 20px;
    width: 680px;
    display: flex;
    // justify-content: space-between;
  }
  .titlecenter1{
    padding-left: 15px;
    width: 175px;
    // text-align: center;
  }
  .titlecenter2{
    width: 185px;
    // text-align: center;
  }
  .titlecenter3{
    width: 188px;
    // text-align: center;
  }
  
  //cartlable
  .lablebox{
    width: 900px;
    height: 40px;
    margin: 10px auto;
    display: flex;
  }
  .activelable{
    width: 225px;
    height: 40px;
    text-align: center;
    background-color: #C77334;
    color: white;
    line-height: 40px;
    letter-spacing: 3px;
    font-size: 16px;
  } 
  .activelable:hover{
    text-decoration: none;
    color: white;
  }
  .defaultlable:hover{
    text-decoration: none;
    color: black;
  }
  .defaultlable{
    width: 225px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: white;
    // margin-bottom: 50px;
    letter-spacing: 3px;
    font-size: 16px;
    color: black;
  }
  .wrap{
    height: 21px;
    // margin-left: 780px;
    display: flex;
    margin-bottom: 10px;
  }
  .wrap>h6{
    position: absolute;
  }
  .cartlist{
    width: 1200px;
    // height: 220px;
    // background-color: white;
    margin: 0 auto;
  }
  .cartlist>ul{
    margin: 0;
    padding: 0;
  }
  .cartlist>li{
    margin-bottom: 0;
    padding: 0;
  }
  .listitem{
    width: 100%;
    height: 220px;
    display: flex;
    margin-bottom: 20px;
    // line-height: 220px;
  }
  .listitem h6{
    position: relative;
    line-height: 220px;
  }
  .cartlist img{
    object-fit: cover;
    width: 300px;
    height: 220px;
  }

  .listqty{
    margin: auto 0;
    position: relative;
    width: 140px;
    height: 40px;
    border: 1px solid black;
    left: 260px;
    display: flex;

  }
  .listqty h6{
    position: relative;
    line-height: 30px;
  }

  .submit{
    margin-top: 50px;
    width: 580px;
    height: 430px;
    position: relative;
    left: 580px;
  }
 hr{
    margin: 30px auto;
    width: 1200px;
  }
  .submit input{
    background-color: transparent;
    border: 0.5px solid black;
  }

  .deliveryform{
    width:600px;
    margin: 0 auto;
    display: block;
  }
  .deliveryform input{
    border: none;
  }

  .deliveryform select{
    border: none;
  }