.title {
  margin-bottom: 60px;
  font-size: 32px;
}

.con {
  margin-top: 106px;
  background-color: #edece8;
}

.reg {
  width: 337px;
  height: 40px;
  border: none;
  border-radius: 0px;
}

.reg_btn {
  background-color: #c77334;
  height: 50px;
  width: 337px;
  border: none;
  border-radius: 0px;
}
