.Register_container {
  $width: 358px;

  /deep/ {
    .register_form {
      width: $width;
      margin: 0 auto;

      input {
        border-radius: 0;
      }

      .form-group.col {
        padding: 0;
      }
    }
  }

  .title {
    padding: initial;
    margin-bottom: 60px;
    font-size: 32px;
  }

  .sub_title {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .sub_title2 {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .con {
    margin-top: 106px;
    background-color: #edece8;
  }

  .reg {
    width: $width;
    height: 40px;
    border: none;
    border-radius: 0px;
  }

  .reg_btn {
    margin-top: 50px;
    background-color: #c77334;
    height: 50px;
    width: $width;
    border: none;
    border-radius: 0px;
  }
}
