.CommentEdit_container {
  /* width: 500px; */
  margin-top: 50px;

  .form_inside_container {
    display: flex;
    justify-content: space-between;

    .upload_img {
      margin-top: 40px;
    }
  }
}
