.row {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
}

.part {
  margin: 200px auto;
}

.info {
  text-align: center;
  font-size: 48px;
  width: 630px;
}

.info .subinfo {
  font-size: 14px;
}

.p14 {
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 2px;
}

.lora-lighter {
  font-family: 'Lora', serif;
  font-weight: lighter;
}

.noto-sans {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: lighter;
}
