.form {
  margin-top: 100px;
  background-color: #edece8;
}

.login_img {
  margin-top: 39px;
  width: 479px;
  height: 523px;
}

.login_container {
  background-color: #edece8;
  margin-top: 106px;
  height: 658px;

  width: 100%;
  margin-right: auto;
  margin-left: auto;

  display: flex;
  justify-content: space-between;
}

.login_btn {
  height: 40px;
  border: none;
  border-radius: 0px;
  width: 337px;
}

.log_in {
  height: 40px;
  width: 337px;
  background-color: #c77334;
  border: none;
  border-radius: 0px;
}
