.form {
  margin-top: 100px;
  background-color: #edece8;
}

.login_img {
  margin-top: 39px;
  width: 450px;
  height: 490px;
}

.login_container {
  background-color: #edece8;
  margin-top: 106px;
  height: 658px;

  width: 100%;
  margin-right: auto;
  margin-left: auto;

  display: flex;
  justify-content: space-between;

  /deep/ {
    // 消除[記住我]的綠色
    .was-validated .form-check-input:valid ~ .form-check-label,
    .form-check-input.is-valid ~ .form-check-label {
      color: #475050;
    }
  }
}

.login_btn {
  height: 40px;
  border: none;
  border-radius: 0px;
  width: 337px;
}

.log_in {
  height: 40px;
  width: 337px;
  background-color: #c77334;
  border: none;
  border-radius: 0px;
}

.register_link {
  color: gray;
  font-size: 18px;
  text-decoration: underline;
  margin-top: 80px;
}
