.CardMyFav_container {
  // 上 右 下 左
  padding: 10px 80px 10px 10px;
  width: 100%;
  display: flex;
}

.btn_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;

  .fav_btn {
    border-bottom: 1px solid;
    cursor: pointer;

    .icon {
      margin-right: 10px;
    }
  }

  .fav_btn + .fav_btn {
    margin-top: 20px;
  }
}
