/* .row {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
} */

.title {
  width: 100%;
  position: relative;
}

.titleset {
  margin-left: 60px;
  margin-top: 15px;
}

.titlech {
  font-size: 32px;
}

.titleEN {
  font-size: 12px;
}

.noto-serif {
  font-family: 'Noto Serif TC', serif;
  letter-spacing: 2px;
}

.lora {
  font-family: 'Lora', serif;
}

.course img {
  width: 100%;
  object-fit: cover;
}

.course p {
  color: #475050;
}

.noto-serif_p18 {
  font-size: 18px;
  font-family: 'Noto Serif TC', serif;
}

.p14 {
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 2px;
}

.btn_left {
  width: 130px;
  height: 40px;
  margin-top: 50px;
  background-color: #ded5c6;
}

.more {
  line-height: 40px;
  text-align: center;
  font-size: 12px;
  color: #707070;
  cursor: pointer;
}

.courseimg {
  width: 100%;
  height: 556px;
  background-color: #deddda;
}
.courseimg img {
  width: 100%;
}

.i_fund {
  width: 100%;
  height: 556px;
  background-color: #deddda;
}

.i_fund_text {
  margin: 230px auto auto 20px;
}
.i_fund_text p {
  color: #475050;
}

.noto-serif_p18 {
  font-size: 18px;
  font-family: 'Noto Serif TC', serif;
}

.p14 {
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .i_courses_text .more {
    margin: 30px auto;
  }
  .i_courses_text {
    text-align: center;
  }
  .i_fund_text {
    margin: 25px auto;
  }
  .i_fund {
    height: 100%;
    margin-top: 76px;
  }
}
