@import './common_components/styles/custom.scss';


body {
  margin: 0;
  // width: 1440px;
  height: 100%;
  width: 1440px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // overflow: hidden;
  overflow-x: hidden;
}

// body:hover{
//   overflow-y: auto;
// }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 48px;
  font-family: 'Noto Serif TC';
}
h2 {
  font-size: 42px;
  font-family: 'Noto Serif TC';
}
h3 {
  font-size: 36px;
  font-family: 'Noto Serif TC';
}
h4 {
  font-size: 32px;
  font-family: 'Noto Serif TC';
}
h5 {
  font-size: 24px;
  font-family: 'Noto Serif TC';
}

h6 {
  font-size: 18px;
  font-family: 'Noto Serif TC';
}



body::-webkit-scrollbar {
  background: #c77334;
  width: 6px;
  height: 200px;
}

// ::-webkit-scrollbar-button {
//   background: #c77334;
// }

// ::-webkit-scrollbar-track {
//   background: #ded5c6;
// }

// scroll底色
::-webkit-scrollbar-track-piece {
  background: #edece8;
}

// scroll顏色
::-webkit-scrollbar-thumb {
  background: #ded5c6;
  border-radius: 20px;
}

// ::-webkit-scrollbar-corner {
//   background: #c77334;
// }

// ::-webkit-resizer {
//   background: #c77334;
// }

p::selection {
  background: #c77334;
  color: #edece8;
}
