.cou_btn {
  display: flex;
}

.cou {
  display: flex;

  .cou_btn + .cou_btn {
    margin-top: 20px;
  }
}

.item_container {
  padding: 10px;
  width: 100%;
  display: flex;
}

.myfav_detail_list {
  padding: 20px 10px;
  flex: 1;
  margin-left: 50px;

  li + li {
    margin-top: 15px;
  }
}
