@import '../../common_components/styles/ant_custom.scss';

.coupon_container {
  padding: 100px;
  background: $contentBg;

  /deep/ {
    .form_container {
      width: $formWidth;
      margin: 0 auto;

      input {
        border-radius: 0;
      }

      .form-group.col {
        padding: 0;
      }

      .date_input {
        width: 100%;
      }
    }

    .ant-tabs-tab {
      width: 33.33%;
      height: 40px;
      text-align: center;
      background-color: $footerBg !important;

      .ant-tabs-tab-btn {
        flex: 1;
      }
    }

    // 消除
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: #000000d5;
    }

    // 消除
    .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
    .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
      color: #000000d5;
    }

    // 消除 border
    .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
    .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
      border: initial;
    }
    // 消除
    .ant-tabs-tab:hover {
      color: initial;
    }

    // 消除
    .ant-tabs-tab-btn:focus,
    .ant-tabs-tab-remove:focus,
    .ant-tabs-tab-btn:active,
    .ant-tabs-tab-remove:active {
      color: #000000d5;
    }
  }

  .ant-tabs-tabpane .row {
    margin-right: 0;
    margin-left: 0;
  }

  .ant-tabs-nav-list {
    width: 100%;
  }

  .ant-tabs-tab-btn {
    text-align: center;
  }
}

.Capon_img {
  width: 200px;
  height: 200px;
}

.cou_btn {
  width: 80px;
  height: 40px;
  background-color: #c77334;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cou {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.coupon_detail_list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0;

  li + li {
    margin-top: 20px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
}
